:root {
  //   --color-primary: #252839;
  --color-white: #ffffff;
  --color-primary-dark: #14161f;
  --color-primary-light: #252839;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;
  // --color-grey-dark-1: #333;
  // --color-grey-dark-2: #777;
  // --color-grey-dark-3: #999;
  --shadow-dark: 0 0.5rem 1rem rgba(230, 230, 230, 0.8);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}
